:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --light-color: #3f4954;
    --text-light : #686666da;
    --dark-color: #0f0f0f;
    --white: #ffffff;
  --primary-color :#047aed;
  --secondary-color:#1c3fa8;
  --error:#d9534f;
  --success-color:#5cb85c;
    --green:#27ae60;
  --black:#2c2c54;


}


* {
  box-sizing: border-box;
}

section{
  padding:2rem 9%;
}

.sells-btn{
  background:var(--green);
  color:#fff;
  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}


.sells-btn:hover{
  background:var(--black);
}

.sells-heading{
  text-align: center;
  color:var(--black);
  text-transform: uppercase;
  padding:5px;
  font-size: 20px;
  padding-bottom: 10px;
}

.sells-heading span{
  color:var(--green);
  text-transform: uppercase;
}


/*
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex_items {
  background-color: #fff;
  padding: 10px;
  flex: 40%;
  margin: 5px;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
}*/
img{
  width: 100%;
  height: 40%;
}
.box{
 margin: 5px;
}
.box h3{
  color:var(--black);
  font-size: 20px;
}
.box p{
font-size: 14px;
  color:#666;
  padding: 5px 0;

}
/*.flex_items  a{
  text-decoration: none;
}
*/


/*SECON*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}
.services {
  background: #aaa;
  background: #fff;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.18);
   font-size: 20px;
  text-align: center;
  overflow: hidden;
}

.grid-container .services h3{
   color:var(--black);
  font-size: 25px;
}

.grid-container .services .price{
  font-size: 2rem;
  color:#333;
  padding:.5rem 0;
}
/*SECOND*/

  /*TEAM*/

.services img{
  width: 90%;
  height: auto;
  border-radius: 5%;
}
.services .team_infor ul ol{
  list-style: none;
  padding: 5px;
  text-align: left;
  font-size: 15px;
  color: var(--black);
  font-weight: bold;
}
.services .team_infor  li{
  list-style: none;
  padding: 5px;
  text-align: left;
  font-size: 15px;
  color: var(--green);
  font-weight: bold;
}

#threenow span {
     color: #fff;
     background: #4ac9f0;
     border-radius: 48px;
     width: 40px;
     height: 40px;
     font-size: 15px;
     display: inline-block;
     padding-top: 12px;
     margin-top: -25px;
     text-align: center;
}

  /*TEAM*/

@media (max-width: 800px) {
/*  .flex-container {
    flex-direction: column;
  }*/
}

@media(max-width:900px){

.grid-container
{
  grid-template-columns: 1fr;
}
}

@media(max-width:768px){

.grid-container
{
  grid-template-columns: 1fr;
}
}
